

<div class="card border-light mb-3" >
  <div class="card-header">Clients</div>

  <div *ngIf=" getSize() != 0;else other_content">
    <div class="card-body">
      <h5 class="card-title">List of Clients</h5>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
           <!--  <app-client [client]="client"></app-client> -->
            <th scope="row">{{client.id}}</th>
            <td>{{client.name}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.email}}</td>
            <td>{{client.createAt}}</td>
            <td class="text-center">
              <button type="button" class="btn btn-info m-2" (click)="editClient(client)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteClient(client.id)">Delete</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
</div>

<ng-template #other_content>
  <button type="button" class="btn btn-primary m-2"  routerLink="/clients/form">Create Client</button>
</ng-template>



</div>
